html, body {
  height: 100%;
}
body
{
    /* background-color: #fe1bb3; */
    background-image: url('img/why.png');
    background-size: 100% 1000%;
}

.titles
{
  margin-left: 20px;
  margin-top: 30px
}

.card-image
{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 30px black;
  transition: 0.6s;
  cursor: pointer;
}

.card-image:hover
{
    filter: brightness(180%);

}

.card-image-nowidth
{
    /* box-shadow: 5px 5px 30px black; */
    transition: 0.3s;
    cursor: pointer;
    filter:  brightness(100%) drop-shadow(5px 5px 10px #000);
}

.card-image-nowidth:hover
{
    filter: brightness(140%);

}

.card-image-logo
{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 30px black;
    transition: 0.6s;
    cursor: pointer;
    transform: translate(-50%);
}

.image-viewer
{
    position: fixed;
    padding: 70px 0;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    transition: all 1s;
    z-index: 1000;
    display: none;
    animation: fadeIn 0.2s ease-in-out;

}

.viewer-images
{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.full-black
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: black;
    opacity: 0.7;
    display: none;
    animation: fadeInBlack 0.2s ease-in-out;
}
.close-button-div
{
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    background-color: white ;
    width: 30px;
    height: 25px;
    border-radius: 3px;
    z-index: 1100;
    cursor: pointer;
}

@keyframes fadeIn
{
    from
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
}

@keyframes fadeInBlack
{
    from
    {
        opacity:0;
    }
    to
    {
        opacity:0.7;
    }
}
